<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ config.title }}</title>
    <link rel="shortcut icon" href="{{ get_url(path="img/favicon.ico") }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>

    {% include "twitter.html" %}

    <link href="{{ get_url(path="style.css") }}" rel="stylesheet">
  </head>

  <body>
    <div class="uk-container uk-margin-large-bottom">

      {% include "navigation.html" %}

      <div class="markdown">
        {% block content %}
        {% endblock content %}
      </div>

      <hr>

      {% include "footer.html" %}

    </div>
  </body>
</html>
