{% set data = load_data(path="content/navigation.yml") %}

<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <ul class="uk-navbar-nav uk-visible@s">
    {% for link in data.navigation %}
      {% if link.target is starting_with("http") %}
        <li><a href="{{ link.target }}" target="_blank">{{ link.name }}</a></li>
      {% else %}
        <li><a href="{{ get_url(path=link.target) }}">{{ link.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
</nav>

<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      {% for link in data.navigation %}
        {% if link.target is starting_with("http") %}
          <li><a href="{{ link.target }}" target="_blank">{{ link.name }}</a></li>
        {% else %}
          <li><a href="{{ get_url(path=link.target) }}">{{ link.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
